header {
  display: flex;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  nav {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    justify-content: space-between;
    width: 90%;
  }

  img {
    display: flex;
    width: 9.375rem;
    height: 3rem;
    margin-left: 2rem;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .items-container {
    display: flex;
    margin-left: 5rem;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;

    .button-container {
      margin-left: auto;
    }
  }
}

.active {
  color: #28a745;
  font-weight: bold;
  /* Optional: Füge einen Unterstrich hinzu */
  border-bottom: 2px solid #28a745;
}
