* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --baywa-green: #0f8345;
  --baywa-light-gray: #51616f;
  --baywa-dark-grey: #323c45;
  --baywa-grey: #f4f4f4;
}

/* @font-face {
  font-family: 'MeineSchriftart';
  src: url('/fonts/meine-schriftart.woff2') format('woff2'),
       url('/fonts/meine-schriftart.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

body {
  background-color: var(--baywa-grey);
}
