* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --baywa-green: #0f8345;
  --baywa-stone-grey-600: #51616f;
  --baywa-stone-grey-900: #323c45;
  --baywa-stone-grey-50: #f9fafb;
}

@font-face {
  font-family: "BayWa-bold";
  src: url("../src/fonts/baywa-sans-bold.woff") format("woff"),
    url("../src/fonts/baywa-sans-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BayWa-book";
  src: url("../src/fonts/baywa-sans-book.woff") format("woff"),
    url("../src/fonts/baywa-sans-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BayWa-light";
  src: url("../src/fonts/baywa-sans-light.woff") format("woff"),
    url("../src/fonts/baywa-sans-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BayWa-medium";
  src: url("../src/fonts/baywa-sans-medium.woff") format("woff"),
    url("../src/fonts/baywa-sans-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BayWa-semiBold";
  src: url("../src/fonts/baywa-sans-semiBold.woff") format("woff"),
    url("../src/fonts/baywa-sans-semiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--baywa-stone-grey-50);
  font-family: BayWa-medium, Arial, Helvetica, sans-serif;
}
