* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --baywa-green: #0f8345;
  --baywa-stone-grey-600: #51616f;
  --baywa-stone-grey-900: #323c45;
  --baywa-stone-grey-50: #f9fafb;
}

/* @font-face {
  font-family: 'MeineSchriftart';
  src: url('/fonts/meine-schriftart.woff2') format('woff2'),
       url('/fonts/meine-schriftart.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

body {
  background-color: var(--baywa-grey);
  background-color: var(--baywa-stone-grey-50);
}
